<launch>

    <rosparam command="load" file="$(find iauv_intervention)/config/motions.yaml"/>
    <node name="arm_motion_service" pkg="iauv_intervention" type="arm_motion_srv" output="screen">
        <param name="srv_name" value="/bravo/motions"/>
        <param name="controller" value="/girona1000/bravo/joint_trajectory_controller"/>
    </node>

</launch>